@import 'https://fonts.googleapis.com/css?family=Baloo+Bhaina';
*{
  box-sizing:border-box;
}
body {
  font-family: 'Baloo Bhaina', cursive;
  color: white;
 background:tan; 
  background-size:cover;
 color:#383838;
      text-align: center;
  height: 100vh;
}
#scoreboard {
  margin: 0px auto;
}

button {
  border:3px solid black; 
  padding: 5px;
  border-radius:5px;
  margin: 5px;
  font-size:1em;
  font-weight:bold;
}
h1{
  font-size:2em;
  text-shadow: 1px 1px white;
  text-transform: uppercase;
  margin: 0px auto;
}
button:hover{
  background-color:black;
  color:white;
  border:3px solid black;
}
.user-choice {
  background-color: blue;
  color: blue;
}
.computer-choice {
  background-color: red;
  color:red;
}
.reset{
  background-color:none;
}
#gameboard {
  font-size: 1.5em;
  border: 4px solid black;
  margin: 2% auto;
  background-color: yellow;
  padding: 10px;
  color: yellow;
}
#gameboard td {
  font-size: 1em;
  padding:  5px 15px;
  background-color: white;
  border-radius: 100%;
  border: 4px solid black;
}

.keys{
  border: 2px solid black;
  color: white;
}
table{
 
}
td{

}
